.skill-card {
    margin-bottom: 1rem;
    border: 1px solid #F0ECE3;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    transition: 0.5s all ease;
    cursor: pointer;
}

.skill-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.16);
    border-color: #000;
}

.skill-card:hover .card-img {
    border-bottom-color: #000;
}

.skill-card .card-img {
    padding: 10px;
    border-bottom: 1px solid #F0ECE3;
    border-radius: 0;
    display: flex;
    align-items: center;
    transition: 0.5s all ease;
}

.skill-card .card-img img {
    margin: auto;
    width: 100px;
    height: auto;
}

.skill-card .card-body h4 {
    color: #000;
    font-size: 1rem;
    text-align: center;
}