
@media all and (max-width: 500px) {
    .CV-page {
        padding: 0 1em;
        padding-top: 20px;
    }
}


.CV-grid {
    display: table;
    padding-left: 50px;
}

.CV-grid-column {
    display: table-cell;
}

.CV-timeline {
    position: relative;
    padding-left: 1.5em;
    border-left: solid 2px #000000;
}

.CV-timeline:last-of-type {
    border-left-color: transparent;
}

.CV-timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: -0.6em;
    display: block;
    width: 1.2em;
    height: 1.2em;
    border: solid 2px #000000;
    background-color: #000000;
    border-radius: 50%;
}

.CV-timeline-heading {
    margin: 0;
    padding-bottom: 0.5em;
    line-height: 1.1em;
    font-weight: bold;
    -webkit-transform: translateY(-0.1em);
    -ms-transform: translateY(-0.1em);
    transform: translateY(-0.1em);
}

.CV-timeline-heading-title {
    line-height: 1;
    color: #0617b8;
    font-size: 0.9em;
}

.CV-timeline-heading-location {
    font-size: 0.7em;
    display: block;
    font-weight: 500;
}

.CV-timeline-heading-duration {
    display: block;
    font-size: 0.6em;
    color: #5c5c5c;
}


.CV-timeline-details-item {
    margin-bottom: 0.5em;
}